<div class="container">

  <!-- Previous Button -->
  <button id="prev-btn" (click)="goPrevPage()">
    <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
  </button>

  <!-- Book -->
  <div id="book" class="book">
    <!-- Paper 1 -->
    <div id="p1" [ngClass]="{'flipped': isFlipped1}" [ngStyle]="{'z-index': isFlipped1 ? 1 : 3}" class="paper">
      <div class="front">
        <div id="f1" class="front-content">
          <h1>Front 1</h1>
        </div>
      </div>
      <div class="back">
        <div id="b1" class="back-content">
          <h1>Back 1</h1>
        </div>
      </div>
    </div>
    <!-- Paper 2 -->
    <div id="p2" [ngClass]="{'flipped': isFlipped2}" [ngStyle]="{'z-index': isFlipped2 ? 2 : 2}" class="paper">
      <div class="front">
        <div id="f2" class="front-content">
          <h1>Front 2</h1>
        </div>
      </div>
      <div class="back">
        <div id="b2" class="back-content">
          <h1>Back 2</h1>
        </div>
      </div>
    </div>
    <!-- Paper 3 -->
    <div id="p3" [ngClass]="{'flipped': isFlipped3}" [ngStyle]="{'z-index': isFlipped3 ? 3 : 1}" class="paper">
      <div class="front">
        <div id="f3" class="front-content">
          <h1>Front 3</h1>
        </div>
      </div>
      <div class="back">
        <div id="b3" class="back-content">
          <h1>Back 3</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Next Button -->
  <button id="next-btn" (click)="goNextPage()">
    <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
  </button>
</div>
